#main {
    /*宽度202 = 图片宽度165 +　内边距10x2 + 边框 1x2 + padding左 15*/
    -webkit-column-width: 202px;
    -moz-column-width: 202px;
    -o-column-width: 202px;
    -ms-column-width: 202px;

    /*-webkit-column-rule: 2px dashed #f00;
    -moz-column-rule: 2px dashed #f00;
    -o-column-rule: 2px dashed #f00;
    -ms-column-rule: 2px dashed #f00;*/
	/*并不会按你设定的gap值显示 多余的空间会平均分配到各列*/
   /*  -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    -o-column-gap: 5px;
    -ms-column-gap: 5px;*/

    /*-webkit-column-count: 5;
    -moz-column-count: 5;
    -o-column-count: 5;
    -ms-column-count: 5;*/
}


/*js需要调用offset方法获得图片框内的高度，这个方法不能得到margin的高度所以使用padding
*/

.box {
    padding: 10px 0 0 15px;
}

.pic {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    width: 165px;
}

.pic img {
    display: block;
    width: 165px;
    height: auto;
}
